body{
  margin: 0%;
  font-family: 'Roboto', sans-serif;
}

.header{
  height: 800px;;
  background-image: url(../images/header-bg.png);
  margin-bottom: 150px;
  
  


}
.headerdiv{
  width: 30%;
  margin: 8%;
  padding-left: 1%;
  float: left;
 
}
.headerdiv img{
  width: 100%;
  
}
.headerdiv h1{
  font-size: 45px;
  color: #171402;
}

.headerdiv h2{
  color:#da2c6f;
  font-size: 35px;
}
.headerdiv p{
  text-align: justify;
  color: dimgray;
}
.hireme{
  border: 1px solid;
  color:white;
  background-image: linear-gradient(45deg, #e67aa3, #dc3450 );
  text-decoration: none;
  padding: 10px 25px;
  text-transform: uppercase;
  border-radius: 10px;
}

.biography{
  height: 800px;;
  background-image: url(../images/biography-bg.png);
  margin-bottom: 150px;

}
#bioh2{
  font-size: 40px;
  color: #192c02;
}

.lastwork-area{
  height: 800px;;
  background-image: url(../images/latest-work-bg.png);
  margin-bottom: 100px;
  margin-top: 100px;
}

.lastwork-area h1{
  font-size: 45px;
  text-transform: capitalize;
  color: #192c02;
}

.work{
  width: 30%;
  margin-left:3%;
  float:left;
  
}

.work img{
  width: 100%;
}

.footer-sec{
  height: 800px;;
  background-image: url(../images/footer-bg.png);
  margin-bottom: 100px;
  margin-top: 100px;

}

.footer-sec h1{
  font-size: 45px;
  font-weight: 900;
  text-align: center;
  color: #192c02;
}
.footdiv{
  text-align: center;
  width: 400px;
  padding: 20px;
  margin-left: 38%;

}

.footdiv h4{
  font-size: ;
}

.message{
  text-align: center;
  color: white;
  border: 1px solid #cd4573;
  background-image: linear-gradient(45deg, #cd6e7e, #e32948);
  width: 45%;
  margin-left: 28%;
  height: 20%;
  border-radius: 10px;


}

footer p{
  font-size: 17px;
  text-align: center;
  color: #192c02;
}